In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('fc1.csv')
data.dtypes

Date                  object
Year                   int64
DOY                    int64
Solar                float64
Wind_speed           float64
                      ...
White Mill           float64
Widtsoe #3           float64
Willow Creek         float64
Willow Creek Pass    float64
Windy Peak           float64
Length: 218, dtype: object

In [3]:
data.head()

,Date,Year,DOY,Solar,Wind_speed,Wind_dir,gust,temp,rh,precip,...,Webber Springs,Webster Flat,Whiskey Ck,Whiskey Park,White Elephant,White Mill,Widtsoe #3,Willow Creek,Willow Creek Pass,Windy Peak
0,10/1/2001,2001,274,383.0,2.00,120.0,19.0,47.8,50.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.1
1,10/2/2001,2001,275,478.0,3.83,124.0,27.0,49.0,40.0,0.0,...,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10/3/2001,2001,276,482.0,3.35,60.0,22.0,47.3,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10/4/2001,2001,277,483.0,5.12,333.0,27.0,47.2,32.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3
4,10/5/2001,2001,278,482.0,3.46,3.0,24.0,39.2,38.0,0.0,...,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3

In [4]:
X = data.drop('binary_1', axis = 1)
y = data["binary_1"].values.reshape(-1, 1)
print(X.shape, y.shape)

(7093, 217) (7093, 1)